/* Transition effects */
.fade-enter-active, .fade-leave-active {
  transition: opacity .4s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

/* Upload screen */
#upload h5 {
	margin-top: 20px;
}

/* Scan screen */
#scan .progress {
	width: 80%;
	margin-left: 10%;
}

/* Main screen */
#main #sidebar {
	background: white;
	padding: 0 25px;
	overflow-y: auto;
}

#main {
	height: 100vh;
}

#main #sidebar article {
	position: relative;
	z-index: 1;
}

#main #sidebar .selected {
	color: white;
}

#main #sidebar .media {
	margin-top: 10px;
	padding-top: 10px;
}

#main #sidebar .selection-overlay {
	position: absolute;
	background: #3273dc;
	top: -0;
	left: -15px;
	width: 122%;
	height: 115%;
	z-index: -1;
}

#main #content {
	overflow: auto;
	position: relative;
}

#main #content img {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	overflow: scroll;
	max-width: none !important;
	max-height: none !important;
}
