body {
	background: #f5f5f5;
}

#MainView nav {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

#MainView {
	overflow: scroll;
}

#MainView #image {
	margin: auto;
	max-width: none;
}


#MainView #image {
	display: block;
	margin: auto;
	min-height: 100vh !important;
	max-height: 100vh !important;
}