	<template id = "ScanView">
		<section class = "hero is-fullheight is-light" id = "ScanView">
			<div class = "hero-body">
				<div class = "container has-text-centered">
					<progress class = "progress is-primary is-large" :value = "progress.processed" :max = "progress.total"></progress>
					<p class = "content">Scanning file {{progress.processed}} of {{progress.total}}...</p>
					<p class = "content">Found {{progress.unsupported}} unsupported file(s) and encountered {{progress.errors}} error(s)</p>
					<a v-on:click = "cancelClicked()" class="button is-danger is-outlined">
						<span class="icon">
							<i class="fa fa-ban"></i>
						</span>
						<span>Cancel</span>
					</a>
				</div>
			</div>
		</section>
	</template>