<template id = "UploadView">
	<section class = "hero is-fullheight is-light" id = "UploadView">
		<div class = "hero-body">
			<div class = "container has-text-centered">
				<h1 class = "title">Drag in a folder containing images.</h1>
				<a v-on:click = "manualUpload" class = "button is-dark is-outlined">
					<span class = "icon">
						<i class = "fa fa-folder-open"></i>
					</span>
					<span>Or, choose a folder</span>
				</a>
				<h5>{{label}}</h5>
				<br/>
				<p class="control">
					<label class= "checkbox">
						<input type = "checkbox" v-model = "recursively"> Scan recursively</input>
					</label>
				</p>
			</div>
		</div>
	</section>
</template>